<div class="home-page">

  <section class="banner">
   <!-- <img src="content/images/logo.png" alt="logo" style="width: 138px;height: 50px;">
    <video class="w-100" style="height: 230px;" [controls]="false" [loop]="true" [autoplay]="true" [muted]="true">
      <source src="content/videos/v1.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>-->
    <div class="grid-wrapper">
      <div class="grid-container">
        @for (item of gridList; track i; let i = $index) {
        <div class="grid-item">
          <img class="grid-image" [src]="item" alt='grid'>
        </div>
        }
        @for (item of gridList; track i; let i = $index) {
          <div class="grid-item">
            <img class="grid-image"[src]="item" alt='grid'>
          </div>
        }
      </div>
      <div class="fade-bottom">
        <div class="d-flex h-100 justify-content-center align-items-center">
          <img style="width: 165px;" src="content/images/logo-no-bg.png" alt="logo">
        </div>
      </div>
    </div>
  </section>
  <section class="info">
    <!-- Test Account Info -->
    <div class="alert alert-info mb-3" style="background-color: #d1ecf1; border: 1px solid #bee5eb; color: #0c5460; padding: 10px; border-radius: 5px;">
      <h6><strong>🧪 Test Accounts (Mock Mode)</strong></h6>
      <div class="row">
        <div class="col-6">
          <strong>Admin:</strong><br>
          Phone: 0123456789<br>
          Password: admin123
        </div>
        <div class="col-6">
          <strong>User:</strong><br>
          Phone: 0987654321<br>
          Password: user123
        </div>
      </div>
    </div>
    
    <form nz-form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <nz-form-item class="mb-4">
        <nz-form-control style="text-align: left"  [nzSm]="24" [nzXs]="24" nzErrorTip="Please input your phone number!">
          <input class="custom-input" nz-input formControlName="phone" placeholder="Please enter your username or mobile number" id="phone" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item class="mb-4">
        <nz-form-control style="text-align: left" [nzSm]="24" [nzXs]="24" nzErrorTip="Please input your password!">
          <nz-input-group class="custom-input" [nzSuffix]="iconPassword">
            <input nz-input [type]="isShowPassword ? 'text' : 'password'" placeholder="Please enter your password" formControlName="password" id="password" />
            <ng-template #iconPassword>
              <span style="cursor: pointer" (click)="isShowPassword = !isShowPassword" nz-icon [nzType]="isShowPassword ? 'eye-invisible' : 'eye'" nzTheme="outline"></span>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area mb-0" >
        <nz-form-control class="text-center">
          <button class="w-100 custom-btn login text-uppercase" nz-button nzSize="large" nzType="default">LOG IN TO YOUR ACCOUNT NOW</button>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div style="font-style: italic; font-size: 1.4rem;margin: 4px 0">If customers forget their password or have any questions please contact via email Lyst&#64;usa.com</div>
<!--    <div class="my-3" style="font-size: 2.4rem">Create an Account</div>-->
    <a style="color: #ffff" routerLink="/account/register">
      <button class="w-100 custom-btn login text-uppercase" nz-button nzSize="large" nzType="default">
        SIGN UP FOR A NEW ACCOUNT NOW
      </button>
    </a>
    <div style="color: red; font-size: 1rem; font-style: italic; line-height: 15px">
      Attention: Each individual can only register 1 account. If we detect fraud, we will lock the account and severely fine that individual. Each person can register for 1 individual account and 1 couple account or join 1 family account
    </div>
  </section>
  <section class="social-network mt-3">
    <div class="d-flex justify-content-between mb-2">
      <a class="image-lg" href=""><img src="content/images/lg-1.PNG" alt="fb"></a>
      <a class="image-lg" href=""><img src="content/images/lg-2.PNG" alt="fb"></a>
      <a class="image-lg" href=""><img src="content/images/lg-3.PNG" alt="fb"></a>
      <a class="image-lg" href=""><img src="content/images/lg-4.PNG" alt="fb"></a>
      <a class="image-lg" href=""><img src="content/images/lg-5.PNG" alt="fb"></a>
      <a class="image-lg" href=""><img src="content/images/lg-6.PNG" alt="fb"></a>
    </div>
    <div class="text-left">
      <div style="font-size: 1.5rem; font-weight: bold">BIG FAMOUS BRANDS COOPERATE IN 2024:</div>
      <div class="d-flex justify-content-between">
        <div class="text-lg">
          <p>MIU MIU</p>
          <p>PRADA</p>
          <p>LOEWE</p>
          <p>BOTTEGA VENETA</p>
          <p>SAINT LAURENT</p>
        </div>
        <div class="text-lg">
          <p>MONCLER</p>
          <p>VERSACE</p>
          <p>BALENCIAGA</p>
          <p>VALENTINO</p>
          <p>JACQUEMUS</p>

        </div>
        <div class="text-lg">
          <p>GUCCI</p>
          <p>BURBERRY</p>
          <p>SKIMS</p>
          <p>LOUIS VUITTON</p>
          <p>NEW BALANCE</p>
        </div>
        <div class="text-lg">
          <p>THE ROW</p>
          <p>DIESEL</p>
          <p>DOLCE & GABBANA</p>
          <p>ALAÏA</p>
          <p>JW ANDERSON</p>
        </div>
      </div>
    </div>
  </section>
</div>
